name: Build and Push Docker Images to ACR

on:
  workflow_run:
    workflows: ["Auto Tag and Release (MAJOR.MINOR)"]
    types:
      - completed

jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.7

      - name: Build Gradle project
        run: gradle build

      - name: Extract tag version
        id: get_tag
        run: |
          latest_tag=$(git describe --tags --abbrev=0)
          echo "VERSION=${latest_tag}" >> $GITHUB_ENV
          echo "Latest tag is $latest_tag"

      - name: Log in to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and Push Docker Images
        run: |
          VERSION_IMAGE="${{ secrets.ACR_REGISTRY }}/dlrfinflow-api:${VERSION}"
          LATEST_IMAGE="${{ secrets.ACR_REGISTRY }}/dlrfinflow-api:latest"
          
          echo "Building Docker image: $VERSION_IMAGE"
          docker build -t "$VERSION_IMAGE" -t "$LATEST_IMAGE" .
          
          echo "Pushing $VERSION_IMAGE"
          docker push "$VERSION_IMAGE"
          
          echo "Pushing $LATEST_IMAGE"
          docker push "$LATEST_IMAGE"
